[Unit]
Description=Start Raspberry Pi camera video stream (rpicam-vid)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Make sure this path matches where you installed rpicam-vid
ExecStart=/usr/bin/go2rtc -c /obsc/config/go2rtc.yaml

# If you ever want it to auto-restart if it crashes:
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
